@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Comfortaa&family=Quicksand:wght@500;700&family=Space+Mono&display=swap');@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Comfortaa&family=Quicksand:wght@700&family=Space+Mono&display=swap');
*{
    background: whitesmoke;
    padding: 0;
    margin: 0;
}

/* Navigation bar section  */

.navbar a{
    float: right;
    color: black;
    text-decoration: none;
    margin-left: 50px;
    font-size: 18px;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    
}
.navbar a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(134, 150, 219);
    border-radius: 10px;
}


/* Effects to image-logo */
#image-logo {
    float: left;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

/* Details Section */
.details-sec{
    display: inline-block;
    margin-left: 10px;
    margin-top: 10%;
    float: left;
}

.name_text{
    font-size: 96px;
    font-family: 'Quicksand', sans-serif;
    
}
.occupation{
    margin-top: 1px;
    font-size: 46px;
    color: #00F663;
    font-family: 'Quicksand', sans-serif;
}