@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Space+Mono&display=swap');
*{
    background: whitesmoke;
    font-family: 'Space Mono', monospace;
}

.logo {
    color: black;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 0.25ch;
}

.navbar a{
    float: right;
    color: black;
    text-decoration: none;
    margin-left: 50px;
    font-size: 18px;
    padding: 10px;
    
}
.navbar a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(134, 150, 219);
    border-radius: 10px;
}

/* #image-logo{
    width: 379px;
    margin-top: 5%;
    
} */

#image-logo {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}