@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Comfortaa&family=Quicksand:wght@500;700&family=Space+Mono&display=swap');@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Comfortaa&family=Quicksand:wght@700&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redacted+Script:wght@300;400&display=swap');
*{
    background: whitesmoke;
    padding: 0;
    margin: 0;
}

/* Navigation bar section  */


li{
    float: right;
    margin-top: 18px;
    list-style-type: none;
    margin-right: 20px;
    
}
li a{
    padding: 9px;
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Quicksand', sans-serif;
}

li a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(53, 89, 252);
    border-radius: 10px;
} 

nav p{
    float: left;
    font-size: 30px;
    padding: 10px;
    font-family: 'Redacted Script', cursive;
}


/* Effects to image-logo */
#image-logo {
    float: left;
    margin-top: 2%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

/* Details Section */
.details-sec{
    display: inline-block;
    margin-left: 3%;
    margin-top: 8%;
    float: left;
}

.name_text{
    font-size: 76px;
    font-family: 'Quicksand', sans-serif;
    
}
.occupation{
    margin-top: 1px;
    font-size: 46px;
    color: #00F663;
    font-family: 'Quicksand', sans-serif;
}

.links a{
    width: 45px;
    height: 45px;
    display: inline-block;
    margin-top: 20px;
}

.btn_resume{
    width: 184.86px;
    height: 58.03px;
    text-align: center;
    margin-top: 50px;
    background: black;
    color: white;
    font-family:'Quicksand', sans-serif ;
    font-size:30px ;
    padding: 2px;
    border-radius:10px ;

}

/* about me section */
.aboutme{
    margin-top: 100px;
    display: inline-block;
    text-align: center;
    font-family:'Quicksand', sans-serif;
}
.aboutme img{
    width: 57px;
    height: 57px;
}
.aboutme p{
    margin-top: 7px;
    font-size: 16px;
    text-align: center;
}